# Intro to Attributes

In [2]:
import pandas as pd

In [8]:
about_me = ["Smart", "Handsome", "Charming", "Witty", "Humble"]
s = pd.Series(about_me)
s

0       Smart
1    Handsome
2    Charming
3       Witty
4      Humble
dtype: object

In [6]:
about_me[1]

'Handsome'

In [9]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Witty', 'Humble'], dtype=object)

In [10]:
s.index # this will provide you with the range from 0-4 and increment by 1

RangeIndex(start=0, stop=5, step=1)

In [11]:
s.dtype

dtype('O')

In [12]:
s.add("Sexy") # this will add the word sexy to the end of the data type

0       SmartSexy
1    HandsomeSexy
2    CharmingSexy
3       WittySexy
4      HumbleSexy
dtype: object

In [13]:
bob =s.add("Sexy") # this creates a new list

In [14]:
bob

0       SmartSexy
1    HandsomeSexy
2    CharmingSexy
3       WittySexy
4      HumbleSexy
dtype: object

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid